<div *ngIf="rocket">
    <h1>
        {{ rocket.name | uppercase }} Details
    </h1>
    <div>
        {{rocket.description}}
    </div>
    <div>
        <span class="label">Type: </span>{{rocket.type}} - <span class="label">First flight: </span>{{rocket.first_flight | date:'dd/MM/yyyy'}}
    </div>
    <h2>
        Caracteristics
    </h2>
    <table>
        <thead>
            <th>Height (meters)</th>
            <th>Diameter (meters)</th>
            <th>Mass (kg)</th>
        </thead>
        <tbody>
            <tr>
                <td>{{rocket.height.meters}}</td>
                <td>{{rocket.diameter.meters}}</td>
                <td>{{rocket.mass.kg}}</td>
            </tr>
        </tbody>
    </table>
</div>