<!--The content below is only a placeholder and can be replaced.-->
<div>
  <mat-form-field>
    <input type="text" matInput placeholder="App Name" [(ngModel)]="config.title">
  </mat-form-field>
  <span>
    Welcome to {{ config.title }}
  </span>
</div>

<div>
  <mat-form-field>
      <input type="text" matInput placeholder="App Version" [(ngModel)]="config.version">
    </mat-form-field>
    <span>
      Welcome to {{ config.version }}
    </span>
    <br><br>
    {{ config | json }}

</div>

<button mat-raised-button color="primary" (click)="goToMissionsPage()">Go to Missions Page</button>
<router-outlet></router-outlet>
