<mat-drawer-container class="container" autosize>
  <mat-toolbar color="primary">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <mat-drawer class="sidenav" #drawer mode="push">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of menuItems">
          <a matLine routerLink={{item.path}} routerLinkActivate="active">{{item.name}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-drawer>    
  </mat-toolbar>
  <div class="sidenav-content">
      <router-outlet></router-outlet>
  </div>
</mat-drawer-container>